@{
    ViewData["Title"] = "ONAKU LEAGUE";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@*<ul class="managementUl">
    <li><img src="~/images/kalvin.jpg" /></li>
    <li>&nbsp;</li>
    <li><img src="~/images/cylot.jpg" /></li>
    <li><img src="~/images/Qubein.jpg" /></li>
    <li><img src="~/images/GotKimCHi.jpg" /></li>
    <li><img src="~/images/Milk.jpg" /></li>
</ul>*@
<img src="~/images/ONAKU_LEAGUE/FirstKALCUP/TeamTable.jpg" />
<iframe width="854" height="480" src="https://www.youtube.com/embed/eHXJasApDrM" frameborder="0" allowfullscreen></iframe>
<iframe width="640" height="360" src="https://www.youtube.com/embed/UoqitQEvNM8" frameborder="0" allowfullscreen></iframe>