@{
    ViewData["Title"] = "ONAKU LEAGUE";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr/>

<article>
    <h3>오버와치 북미 서버 사용자 포럼 - 공개채널</h3>
    <p>북미 서버의 한국인 게임 유저라면 누구나 자유롭게 사용가능</p>
    <ul>
        <li><a href="https://open.kakao.com/o/g4OnLwo">오픈챗 ( https://open.kakao.com/o/g4OnLwo )  </a>  </li>
        <li><a href="https://open.kakao.com/o/g4OnLwo">디스코드 ( https://open.kakao.com/o/g4OnLwo )  </a>  </li>
    </ul>
    
</article>
<hr />
<article>
    <h3>회원 준수사항</h3>
    <ul>
        <li>3인이상 구룹에서 승률 50% 미만 한조, 트레이서, 솜브라, 위도우, 공토르 팀내 동의 없이 픽 금지</li>
        <li>겜임중 상대팀 혹은 같은팀과 욕설금지</li>
        <li>매너유지 필수</li>
    </ul>
</article>
<hr />
<article>
    <h3>ONAKU 리그(구 칼컵)</h3>
    <ul>
        <li>정회원은 반드시 가입</li>
        <li>한팀은 10명정도의 인원으로 구성</li>
        <li>오버와치 경쟁 시즌 : 월 1-2회의 팀별 A 매치</li>
        <li>오버와치 경쟁 오프 시즌 : ONAKU CUP 경기 개최 </li>
        <li><a href="/Home/JoinOnakuLeague">ONAKU리그 가입하기</a> </li>
    </ul>
</article>